<ion-view view-title="Suggestions">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="suggestion in suggestions" type="item-text-wrap" href="#/tab/suggestions/{{suggestion.id}}">
        <img ng-src="{{suggestion.icon}}">
        <h2>{{suggestion.title}}</h2>
        <p>{{suggestion.summary}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(suggestion)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
