<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
      <!-- <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle> -->
      <ion-item type="item-text-wrap">
        <h2>Username</h2>
        <p>concon</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Platform</h2>
        <p>Garmin ID: 123456</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Name</h2>
        <p>Constantinos Constantinou</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Gender</h2>
        <p>Male</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Age</h2>
        <p>33</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Weight</h2>
        <p>80kg</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Height</h2>
        <p>179cm</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>BMI</h2>
        <p>25</p>
      </ion-item>
      <ion-item type="item-text-wrap">
        <h2>Device Token</h2>
        <p>{{pushtoken.type}} {{pushtoken.token}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
