<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3>Steps today</h3>
    <canvas id="steps" class="chart chart-doughnut" chart-data="steps.data" width="350"
      chart-labels="steps.labels" chart-colors="steps.colors" chart-options="steps.options"></canvas>

    <h3>Heart-rate last 7 days</h3>
    <canvas id="heart-rate" class="chart chart-line" chart-data="hr.data" width="350"
      chart-labels="hr.labels" chart-series="hr.series" chart-options="hr.options"></canvas>

    <h3>BMI last 6 months</h3>
    <canvas id="bmi" class="chart-horizontal-bar" chart-data="bmi.data" width="350"
      chart-labels="bmi.labels" chart-colors="bmi.colors" chart-series="bmi.series" chart-options="bmi.options"></canvas>
  </ion-content>
</ion-view>
