<ion-view view-title="Προφίλ">
  <ion-content>
      <div class="card">         
          <div class="item item-text-wrap">
              <ion-list>
                  <!-- <ion-toggle  ng-model="settings.enableFriends">
                      Enable Friends
                  </ion-toggle> -->
                  <img src="img/costascon.png" width="90px" />
                  <ion-item type="item-text-wrap">
                    <h2>Όνομα χρήστη</h2>
                    <p>15981958</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Συσκευή</h2>
                    <p>Garmin ID: 123456</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Πλήρες όνομα</h2>
                    <p>Κωνσταντίνος Κωσνταντίνου</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Φύλο</h2>
                    <p>Αρρέν</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Ηλικία</h2>
                    <p>33</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Βάρος</h2>
                    <p>80kg</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Ύψος</h2>
                    <p>179cm</p>
                  </ion-item>
                  <ion-item type="item-text-wrap">
                    <h2>Δείκτης Μάζας Σώματος</h2>
                    <p>25</p>
                  </ion-item>
                </ion-list>
          </div>       
        </div>
    
  </ion-content>
</ion-view>
